/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    
}

h2 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}


.paticka a {
    color: silver;
}

/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/

/* tvoje styly sem */


.doporucujeme{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    background-color:#999;
    border-bottom: white solid 1px;
    padding: 0.5rem;
    min-height: 90px;
    text-shadow: 2px 2px black;
}

.recept-nazev{
    font-size: 1.2rem;
    
}
.recept-meta{
    display:flex;
    justify-content: space-between;
    font-size: 0.8rem;
    padding-left: 0;
    margin:0;

}


.recept-komentare {
    margin-left: auto;

}

.hlavni-recept{
    min-height: 200px;
    background-image: url(image\burger.jpg);
    
}

.recept-recept2{
    background-image: url(image\sushi.jpg);
}

.recept-recept3 {
    background-image: url(images\rajcata.jpg);
}

.recept-recept4{

background-image: url(images\kure.jpg);
}

.recept-recept5{

    background-image: url(images\grilovani.jpg);
}


@media screen and (min-widht: 480px) {
    .doporucujeme{
        display:flex;
        flex-wrap: wrap;
        padding: 1.25rem;
        font-size: 1.5rem;
    }

    .hlavni-recept{
        width:100%;
        min-height: 250px;
    }

    .sloupec{

        display:flex;
        flex-direction:column;
        border-right: 1px white solid;
        width: 50%;
        min-height: 150px;
    }
}

@media screen and (min-widht:860px){
    .sloupec{
        flex-basis: calc(100%/3);
        flex-direction: column;
    }

    .hlavni-recept{
        min-height: 400px;
    }

    .recept-recept2,
    .recept-recept3,
    .recept-recept3,
    .recept-recept5{
        min-height:200px;
    }

    .recept-meta{
        padding: 1.25rem;
    }

    .doporucujeme{
        font-size:1.75rem;
    }
}




